.secrets
.vscode/
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Temp/
Library/
/Logs/
!Assets/Falcon/*
UserSettings/*
obj/
Builds/
*.apk
*.symbols.zip
*.aab
Xcode/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
Assets/AddressableAssetsData/Android/addressables_content_state.bin
Assets/Plugins/Android/FirebaseCrashlytics.androidlib/res/values/crashlytics_build_id.xml
Assets/AddressableAssetsData/link.xml
Assets/AddressableAssetsData/link.xml.meta
Assets/Plugins/Android/FirebaseCrashlytics.androidlib/res/values/crashlytics_unity_version.xml
BuildReports/*
Assets/AddressableAssetsData/WebGL/*
Assets/AddressableAssetsData/WebGL/addressables_content_state.bin
Assets/AddressableAssetsData/WebGL/addressables_content_state.bin.meta
Assets/Resources/LocalSettings/*
Assets/PluginYourGames/Editor/BuildLogYG2.txt
Assets/PluginYourGames/Editor/SavesEditorYG2.json
Assets/PluginYourGames/Editor/SavesEditorYG2.json.meta
Assets/StreamingAssets/data/Sdk/*
